/*
    xで置き換えられた部分を適切と思われる文字列に修正して提出しよう
*/

body{
    xxxxxxxxxxxxxxxx: aquamarine;
}

xx{
    background-color: black;
    xxxxx: yellow;
}

x{
    font-size: 115%;
}

#about + p{
    xxxxxxxxx: 150%;
}

xxxxx{
    background-color: pink;
    font-size: 115%;
}

xxxxxx{
    background-color: gold;
}

xxxxxxx{
    background-color: silver;
}

xxxxxx{
    color: white;
    background-color: #cf2020;
}

#third::marker{
    color: black;
}